<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="container">
        <h1>Welcome to Classi|Q>!</h1>
        <button onclick="window.location.href='/manual_input'">Input Classical Code Manually</button>
        <button onclick="window.location.href='/graph_problem'">Graph Problem</button>
    </div>
</body>
</html>
